* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header , main {
    max-width: 1440px;
    margin: 0 auto;
}




:root {
    --primary_color: #ff5400;
}


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    margin: 50px 0px;
}
nav ul div {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul div li 
{
    list-style: none;
}
nav ul div li a 
{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
nav span {
    color: var(--primary_color);
}

nav ul div li a:hover {
    color: var(--primary_color);
}

#logo_text {
    font-size: 2.2rem;
    font-weight: 700;
}
#logo_text:hover {
    color: black;
}

.hamburger_menu {
    display: none;
}



/* ---------------  banner  ------------ */





.banner_container {
    width: 100%;
    height: auto;
}

.banner_container {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("Images/hero.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 170px 0px;
    border-radius: 10px;
}
.banner_container h1 {
    font-size: 5rem;
    color: #fff;
}
.banner_container p {
    color: #d8d8d8;
    text-align: center;
}

.main_input_section {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
}
.main_input_section input 
{
    border: 0;
    font-size: 1rem;
}
.main_input_section :nth-child(n)
{
    padding: 2px 5px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


#btn {
    border: 0;
    background-color: var(--primary_color);
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
}
#btn_container {
    background: var(--primary_color);
    display: flex;
    justify-content: center;
}
#btn_container i {
    background-color: var(--primary_color);
}

.input_container i {
    color: #a1a1a1;
}

/* -------------------- popular --------*/

.popular_container {
    display: flex;
    margin: 80px 0px;
}
.popular_container > div 
{
    width: 50%;
}
.popular_img_container 
{   
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular_img_container img {
    width: 100%;
    padding-left: 30px;
}
.popular_text p ,.popular_text li {
    font-size: 1.2rem;
    margin: 30px 0px;
    color: #616161;
}
.popular_text h3 
{
    font-size: 3rem;
}
.popular_text ul {
    padding-left: 20px;
}
.popular_text button {
    color: #fff;
    background-color: var(--primary_color);
    border: 0;
    border-radius: 10px;
    padding: 20px 60px;
    font-size: 1.7rem;
    font-weight: 700;
}


/*------------grid box -----------*/



.destination_grid_container h2 ,
.destination_grid_container p {
    text-align: center;
    
}
.destination_grid_container h2 {
    font-size: 2.5rem;
    padding-bottom: 40px;
}
.destination_grid_container p {
    color: #616161;
    max-width: 700px;
    margin: 0 auto;
}
.item {
    display: grid;
    place-items: center;
    isolation: isolate;
}
.item > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.item > img {
    z-index: -1;
} 
.item h1 {
    color: #fff;
    font-size: 2rem;
}


.top_grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 20px;
}
.mid_grid {
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    gap: 20px;
}
.last_grid {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 20px;
}
.grid_box_container img {
    width: 100%;
    height: 100%;
}
.grid_box_container {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 50px;
}





/* -------------mobile design----------------- */








@media screen and (max-width: 500px) {
    body {
        margin: 0px 30px;
    }
    .nav_right_side {
        display: none;
    }
    .hamburger_menu {
        display: flex;

    }
    .hamburger_menu i {
        font-size: 2rem;
    }
    .main_input_section {
        flex-direction: column;
    }
    .banner_container {
        background-size: cover;
        background-position: center;
    }
    .banner_container h1 
    {
        font-size: 1.5rem;
    }
    .banner_container p {
        font-size: 0.8rem;
        padding: 0 25px;
    }
    .input_container input {
        margin: 10px;
        padding-top: 30px;
    }
    .popular_container {
        flex-direction: column;
        gap: 30px;
    }

    .popular_container > div {
        width: 100%;
        
    }
    .popular_container img {
        padding-left: 0;
        border-radius: 20px;
    }
    .grid_box_container img{
        
        height: 200px;
    }
    .grid_box_container {
        display: flex;
        flex-direction: column;
    }
    .top_grid {
        display: flex;
        flex-direction: column;
    }
    .mid_grid {
        display: flex;
        flex-direction: column;
    }
    .last_grid {
        display: flex;
        flex-direction: column;
    }

}

  